In [1]:
import networkx as nx
import osmnx as ox
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from operator import itemgetter

In [2]:
#BETWEENESS CEN W

In [3]:
G = nx.read_graphml('london.graphml')

In [4]:
bet_london_w=nx.betweenness_centrality(G,weight='flows',normalized=False)

# We can add these values to the nodes attributes:
nx.set_node_attributes(G,bet_london_w,'betweenness_w')

In [5]:
# To dataframe using the nodes as the index
df = pd.DataFrame(index=G.nodes())

df['betweenness_w'] = pd.Series(nx.get_node_attributes(G, 'betweenness_w'))

df_sorted = df.sort_values(["betweenness_w"], ascending=False)
df_sorted[0:10]

                         betweenness_w
West Hampstead                28401.50
Gospel Oak                    21947.00
Finchley Road & Frognal       21446.00
Hampstead Heath               21372.00
Willesden Junction            19166.50
Leicester Square              17097.75
Brondesbury                   16526.00
Brondesbury Park              16411.50
Kensal Rise                   16299.75
Blackhorse Road               16091.75

In [6]:
global_eff=nx.global_efficiency(G)
global_eff
print(global_eff)

0.1012561935972123

In [7]:
average_shortG=nx.average_shortest_path_length(G)
average_shortG

13.545997506234414

In [8]:
#2.3

In [9]:
#BW删点

In [10]:
BW=G.copy()

In [11]:
bet_london_w=nx.betweenness_centrality(BW,weight='flows',normalized=False)

nx.set_node_attributes(BW,bet_london_w,'betweenness_w')

In [12]:

df = pd.DataFrame(index=BW.nodes())

df['betweenness_w'] = pd.Series(nx.get_node_attributes(BW, 'betweenness_w'))

df_sorted = df.sort_values(["betweenness_w"], ascending=False)
df_sorted[0:10]

                         betweenness_w
West Hampstead                28401.50
Gospel Oak                    21947.00
Finchley Road & Frognal       21446.00
Hampstead Heath               21372.00
Willesden Junction            19166.50
Leicester Square              17097.75
Brondesbury                   16526.00
Brondesbury Park              16411.50
Kensal Rise                   16299.75
Blackhorse Road               16091.75

In [13]:
betweenness_w_values=[(i[1]['betweenness_w']) for i in BW.nodes(data=True)]
maxbet=[n for n in BW.nodes() if BW.nodes[n]['betweenness_w'] == max(betweenness_w_values)]
maxbet

['West Hampstead']

In [14]:
BW.remove_nodes_from(maxbet)

In [15]:
global_effBW=nx.global_efficiency(BW)
global_effBW

0.10005038744672845

In [16]:
average_shortBW=nx.average_shortest_path_length(BW)
average_shortBW

13.710764411027569