In [1]:
#4.1

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import folium
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats
import numpy as np
from math import sqrt

In [3]:
def CalcRSquared(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2
    
    return R2

In [4]:
cdatasub = pd.read_csv("london_flows.csv")

In [5]:
cdatasub.replace(0,0.0000001,inplace=True)

In [6]:
cdatasub.head(10)

,station_origin,station_destination,flows,population,jobs,distance
0,Abbey Road,Bank and Monument,1.000000e-07,599.0,78549.0,8131.525097
1,Abbey Road,Beckton,1.000000e+00,599.0,442.0,8510.121774
2,Abbey Road,Blackwall,3.000000e+00,599.0,665.0,3775.448872
3,Abbey Road,Canary Wharf,1.000000e+00,599.0,58772.0,5086.514220
4,Abbey Road,Canning Town,3.700000e+01,599.0,15428.0,2228.923167
5,Abbey Road,Crossharbour,1.000000e+00,599.0,1208.0,6686.475560
6,Abbey Road,Custom House,1.000000e-07,599.0,845.0,3824.855630
7,Abbey Road,Cutty Sark,2.000000e+00,599.0,1748.0,8503.898909
8,Abbey Road,Cyprus,7.000000e+00,599.0,850.0,6532.099618
9,Abbey Road,Devons Road,1.000000e+00,599.0,611.0,3958.324171

In [7]:
cdatasubmat = pd.pivot_table(cdatasub, values ="flows", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
cdatasubmat

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.000000,5.990000e+02
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-07,NaN,NaN,1.224000e+03
Acton Town,NaN,NaN,NaN,3.000000e+00,1.700000e+01,NaN,3.500000e+01,1.000000e-07,NaN,11.000000,...,7.700000e+01,3.000000e+00,6.000000e+00,9.000000,NaN,1.000000e-07,NaN,1.000000e-07,NaN,3.745000e+03
Aldgate,NaN,NaN,1.000000e-07,NaN,1.000000e-07,NaN,NaN,1.000000e-07,NaN,17.000000,...,1.000000e-07,NaN,4.000000e+00,8.000000,NaN,1.000000e-07,NaN,1.000000e-07,NaN,2.886000e+03
Aldgate East,NaN,NaN,2.000000e+00,1.000000e-07,NaN,NaN,1.000000e-07,1.000000e-07,NaN,20.000000,...,2.400000e+01,1.000000e-07,1.000000e-07,12.000000,NaN,1.000000e+00,NaN,1.000000e+00,NaN,3.172000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.000000e+00,5.000000e+00,4.700000e+01,NaN,NaN,NaN,NaN,22.000000,...,2.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,4.868000e+03
Woodgrange Park,NaN,1.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.300000e+02
Woodside Park,NaN,NaN,1.000000e+00,2.600000e+01,1.100000e+01,NaN,1.000000e-07,NaN,NaN,59.000000,...,1.000000e-07,NaN,1.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN,3.093000e+03
Woolwich Arsenal,20.000000,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.892000e+03
All,345.000002,7.500000e+02,2.202000e+03,7.782000e+03,7.932000e+03,444.000001,7.410000e+02,2.560000e+02,173.000001,8103.000001,...,6.295000e+03,5.960000e+02,2.146000e+03,1578.000005,404.000002,7.060000e+02,2.420000e+02,7.450000e+02,4428.000001,1.542391e+06

In [8]:


import statsmodels.api as sm
import statsmodels.formula.api as smf
x_variables = ["population", "jobs", "distance"]
log_x_vars = []
for x in x_variables:
    cdatasub[f"log_{x}"] = np.log(cdatasub[x])
    log_x_vars.append(f"log_{x}")

#create the formula (the "-1" indicates no intercept in the regression model).
formula = 'flows ~ station_origin + log_jobs + log_distance-1'
#run a production constrained sim
prodSim = smf.glm(formula = formula, data=cdatasub, family=sm.families.Poisson()).fit()
#let's have a look at it's summary
print(prodSim.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  flows   No. Observations:                61474
Model:                            GLM   Df Residuals:                    61073
Model Family:                 Poisson   Df Model:                          400
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.2592e+06
Date:                Mon, 02 May 2022   Deviance:                   2.3462e+06
Time:                        14:22:11   Pearson chi2:                 4.76e+06
No. Iterations:                    22
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
station_origin[Abbey Road]                     -3.8237      0.041    -92.269      0.000      -3.905      -3.742
station_origin[Acton Central]                  -3.1219      0.029   -106.500      0.000      -3.179      -3.064
station_origin[Acton Town]                     -3.7030      0.018   -209.613      0.000      -3.738      -3.668
station_origin[Aldgate]                        -4.0288      0.020   -204.086      0.000      -4.068      -3.990
station_origin[Aldgate East]                   -3.9482      0.019   -208.580      0.000      -3.985      -3.911
station_origin[All Saints]                     -3.6740      0.037    -98.254      0.000      -3.747      -3.601
station_origin[Alperton]                       -4.3780      0.026   -170.025      0.000      -4.428      -4.328
station_origin[Amersham]                       -4.6674      0.030   -156.502      0.000      -4.726      -4.609
station_origin[Anerley]                        -2.9860      0.040    -74.718      0.000      -3.064      -2.908
station_origin[Angel]                          -3.6649      0.017   -218.579      0.000      -3.698      -3.632
station_origin[Archway]                        -3.3176      0.015   -222.890      0.000      -3.347      -3.288
station_origin[Arnos Grove]                    -3.8852      0.019   -200.870      0.000      -3.923      -3.847
station_origin[Arsenal]                        -4.2608      0.023   -189.102      0.000      -4.305      -4.217
station_origin[Baker Street]                   -3.0943      0.013   -232.490      0.000      -3.120      -3.068
station_origin[Balham]                         -2.7378      0.012   -224.305      0.000      -2.762      -2.714
station_origin[Bank and Monument]              -1.7560      0.009   -202.452      0.000      -1.773      -1.739
station_origin[Barbican]                       -4.8841      0.029   -167.526      0.000      -4.941      -4.827
station_origin[Barking]                        -2.9720      0.013   -230.406      0.000      -2.997      -2.947
station_origin[Barkingside]                    -4.6283      0.029   -162.001      0.000      -4.684      -4.572
station_origin[Barons Court]                   -3.6494      0.017   -213.981      0.000      -3.683      -3.616
station_origin[Battersea Park]                -22.1468    657.556     -0.034      0.973   -1310.933    1266.639
station_origin[Bayswater]                      -4.5448      0.026   -174.101      0.000      -4.596      -4.494
station_origin[Beckton]                        -3.1618      0.030   -105.593      0.000      -3.220      -3.103
station_origin[Beckton Park]                   -4.4796      0.059    -76.128      0.000      -4.595      -4.364
station_origin[Becontree]                      -4.1293      0.022   -189.317      0.000      -4.172      -4.087
station_origin[Belsize Park]                   -3.9926      0.020   -197.371      0.000      -4.032      -3.953
station_origin[Bermondsey]                     -3.4454      0.015   -222.655      0.000      -3.476      -3.415
station_origin[Bethnal Green]                  -3.1899      0.014   -231.228      0.000      -3.217      -3.163
station_origin[Blackfriars]                    -3.2284      0.014   -234.983      0.000      -3.255      -3.201
station_origin[Blackhorse Road]                -2.9135      0.013   -228.452      0.000      -2.938      -2.888
station_origin[Blackwall]                      -3.4143      0.033   -103.084      0.000      -3.479      -3.349
station_origin[Bond Street]                    -4.3940      0.023   -190.286      0.000      -4.439      -4.349
station_origin[Borough]                        -4.7799      0.028   -170.459      0.000      -4.835      -4.725
station_origin[Boston Manor]                   -4.7740      0.030   -159.740      0.000      -4.833      -4.715
station_origin[Bounds Green]                   -3.5243      0.016   -214.323      0.000      -3.557      -3.492
station_origin[Bow Church]                     -2.8395      0.025   -111.496      0.000      -2.889      -2.790
station_origin[Bow Road]                       -3.6575      0.017   -213.272      0.000      -3.691      -3.624
station_origin[Brent Cross]                    -4.5178      0.027   -168.846      0.000      -4.570      -4.465
station_origin[Brentwood]                      -1.6468      0.023    -72.577      0.000      -1.691      -1.602
station_origin[Brixton]                        -1.9197      0.009   -206.213      0.000      -1.938      -1.901
station_origin[Brockley]                       -2.0660      0.022    -95.305      0.000      -2.108      -2.024
station_origin[Bromley-by-Bow]                 -4.1034      0.021   -196.546      0.000      -4.144      -4.062
station_origin[Brondesbury]                    -2.5934      0.023   -110.954      0.000      -2.639      -2.548
station_origin[Brondesbury Park]               -3.7482      0.039    -97.148      0.000      -3.824      -3.673
station_origin[Bruce Grove]                    -2.8497      0.033    -86.392      0.000      -2.914      -2.785
station_origin[Buckhurst Hill]                 -4.4017      0.026   -170.488      0.000      -4.452      -4.351
station_origin[Burnt Oak]                      -3.8126      0.019   -196.104      0.000      -3.851      -3.775
station_origin[Bush Hill Park]                 -2.6523      0.028    -95.805      0.000      -2.707      -2.598
station_origin[Bushey]                         -4.4720      0.065    -68.619      0.000      -4.600      -4.344
station_origin[Caledonian Road]                -4.0229      0.020   -202.189      0.000      -4.062      -3.984
station_origin[Caledonian Road & Barnsbury]    -4.0048      0.043    -92.301      0.000      -4.090      -3.920
station_origin[Cambridge Heath]                -4.1155      0.056    -73.969      0.000      -4.225      -4.006
station_origin[Camden Road]                    -3.2844      0.029   -111.464      0.000      -3.342      -3.227
station_origin[Camden Town]                    -3.8857      0.019   -209.646      0.000      -3.922      -3.849
station_origin[Canada Water]                   -1.8351      0.009   -205.513      0.000      -1.853      -1.818
station_origin[Canary Wharf]                   -2.5479      0.010   -246.064      0.000      -2.568      -2.528
station_origin[Canning Town]                   -2.0656      0.010   -216.968      0.000      -2.084      -2.047
station_origin[Cannon Street]                  -3.7635      0.017   -217.269      0.000      -3.797      -3.730
station_origin[Canonbury]                      -2.5544      0.021   -119.668      0.000      -2.596      -2.513
station_origin[Canons Park]                    -4.0897      0.022   -186.848      0.000      -4.133      -4.047
station_origin[Carpenders Park]                -2.7551      0.028    -97.614      0.000      -2.810      -2.700
station_origin[Chadwell Heath]                 -1.1038      0.018    -62.811      0.000      -1.138      -1.069
station_origin[Chalfont & Latimer]             -4.7784      0.033   -143.162      0.000      -4.844      -4.713
station_origin[Chalk Farm]                     -4.1494      0.022   -192.927      0.000      -4.192      -4.107
station_origin[Chancery Lane]                  -4.9536      0.030   -163.874      0.000      -5.013      -4.894
station_origin[Charing Cross]                  -3.2474      0.014   -231.625      0.000      -3.275      -3.220
station_origin[Chesham]                        -4.8265      0.034   -144.022      0.000      -4.892      -4.761
station_origin[Cheshunt]                       -4.3978      0.077    -57.289      0.000      -4.548      -4.247
station_origin[Chigwell]                       -5.4484      0.047   -116.878      0.000      -5.540      -5.357
station_origin[Chingford]                      -2.4646      0.023   -106.320      0.000      -2.510      -2.419
station_origin[Chiswick Park]                  -4.7111      0.029   -164.009      0.000      -4.767      -4.655
station_origin[Chorleywood]                    -4.7920      0.034   -140.620      0.000      -4.859      -4.725
station_origin[Clapham Common]                 -3.4512      0.016   -219.154      0.000      -3.482      -3.420
station_origin[Clapham High Street]            -2.1769      0.027    -81.933      0.000      -2.229      -2.125
station_origin[Clapham Junction]               -1.3910      0.014   -102.219      0.000      -1.418      -1.364
station_origin[Clapham North]                  -3.9881      0.020   -200.444      0.000      -4.027      -3.949
station_origin[Clapham South]                  -3.1342      0.014   -224.205      0.000      -3.162      -3.107
station_origin[Clapton]                        -2.8868      0.027   -108.095      0.000      -2.939      -2.835
station_origin[Cockfosters]                    -4.9020      0.032   -151.458      0.000      -4.965      -4.839
station_origin[Colindale]                      -3.2859      0.015   -215.935      0.000      -3.316      -3.256
station_origin[Colliers Wood]                  -3.2823      0.015   -218.504      0.000      -3.312      -3.253
station_origin[Covent Garden]                  -5.9780      0.049   -122.000      0.000      -6.074      -5.882
station_origin[Crossharbour]                   -2.8411      0.025   -113.500      0.000      -2.890      -2.792
station_origin[Crouch Hill]                    -3.8955      0.051    -76.304      0.000      -3.996      -3.795
station_origin[Croxley]                        -4.7382      0.032   -148.686      0.000      -4.801      -4.676
station_origin[Crystal Palace]                 -1.9843      0.024    -83.984      0.000      -2.031      -1.938
station_origin[Custom House]                   -3.6116      0.036    -99.372      0.000      -3.683      -3.540
station_origin[Cutty Sark]                     -2.6146      0.023   -114.837      0.000      -2.659      -2.570
station_origin[Cyprus]                         -4.0064      0.045    -88.526      0.000      -4.095      -3.918
station_origin[Dagenham East]                  -4.2784      0.024   -179.760      0.000      -4.325      -4.232
station_origin[Dagenham Heathway]              -3.7764      0.019   -203.989      0.000      -3.813      -3.740
station_origin[Dalston Junction]               -1.9450      0.017   -112.812      0.000      -1.979      -1.911
station_origin[Dalston Kingsland]              -2.3672      0.020   -120.286      0.000      -2.406      -2.329
station_origin[Debden]                         -4.3880      0.026   -170.955      0.000      -4.438      -4.338
station_origin[Denmark Hill]                   -2.3116      0.024    -95.833      0.000      -2.359      -2.264
station_origin[Deptford Bridge]                -2.4107      0.021   -113.595      0.000      -2.452      -2.369
station_origin[Devons Road]                    -3.0545      0.028   -110.239      0.000      -3.109      -3.000
station_origin[Dollis Hill]                    -4.0623      0.021   -193.900      0.000      -4.103      -4.021
station_origin[Ealing Broadway]                -2.4752      0.011   -223.298      0.000      -2.497      -2.454
station_origin[Ealing Common]                  -4.2924      0.023   -183.873      0.000      -4.338      -4.247
station_origin[Earl's Court]                   -2.9573      0.013   -232.180      0.000      -2.982      -2.932
station_origin[East Acton]                     -4.1373      0.022   -190.912      0.000      -4.180      -4.095
station_origin[East Finchley]                  -3.2495      0.015   -220.869      0.000      -3.278      -3.221
station_origin[East Ham]                       -2.9741      0.013   -227.165      0.000      -3.000      -2.948
station_origin[East India]                     -2.8364      0.025   -114.445      0.000      -2.885      -2.788
station_origin[East Putney]                    -3.3268      0.015   -220.124      0.000      -3.356      -3.297
station_origin[Eastcote]                       -3.9611      0.021   -188.117      0.000      -4.002      -3.920
station_origin[Edgware]                        -3.7084      0.018   -200.954      0.000      -3.745      -3.672
station_origin[Edgware Road]                   -4.0524      0.020   -203.871      0.000      -4.091      -4.013
station_origin[Edmonton Green]                 -2.4058      0.023   -104.945      0.000      -2.451      -2.361
station_origin[Elephant & Castle]              -2.8919      0.012   -236.846      0.000      -2.916      -2.868
station_origin[Elm Park]                       -3.9065      0.020   -192.339      0.000      -3.946      -3.867
station_origin[Elverson Road]                  -3.0949      0.030   -102.115      0.000      -3.154      -3.036
station_origin[Embankment]                     -3.7133      0.017   -219.010      0.000      -3.747      -3.680
station_origin[Emerson Park]                   -0.5420      0.055     -9.871      0.000      -0.650      -0.434
station_origin[Enfield Town]                   -2.4813      0.025   -101.247      0.000      -2.529      -2.433
station_origin[Epping]                         -3.8486      0.020   -194.178      0.000      -3.887      -3.810
station_origin[Euston]                         -2.2787      0.010   -231.501      0.000      -2.298      -2.259
station_origin[Euston Square]                  -3.4799      0.016   -222.191      0.000      -3.511      -3.449
station_origin[Fairlop]                        -4.8643      0.032   -149.903      0.000      -4.928      -4.801
station_origin[Farringdon]                     -3.4796      0.016   -224.298      0.000      -3.510      -3.449
station_origin[Finchley Central]               -3.1573      0.014   -220.363      0.000      -3.185      -3.129
station_origin[Finchley Road]                  -3.4947      0.016   -218.732      0.000      -3.526      -3.463
station_origin[Finchley Road & Frognal]        -3.1410      0.030   -103.507      0.000      -3.200      -3.081
station_origin[Finsbury Park]                  -1.8958      0.009   -208.168      0.000      -1.914      -1.878
station_origin[Forest Gate]                    -1.6368      0.022    -75.688      0.000      -1.679      -1.594
station_origin[Forest Hill]                    -1.9918      0.021    -93.727      0.000      -2.033      -1.950
station_origin[Fulham Broadway]                -3.8797      0.019   -207.998      0.000      -3.916      -3.843
station_origin[Gallions Reach]                 -3.7383      0.040    -92.844      0.000      -3.817      -3.659
station_origin[Gants Hill]                     -3.3553      0.015   -218.218      0.000      -3.385      -3.325
station_origin[Gidea Park]                     -1.2261      0.019    -65.809      0.000      -1.263      -1.190
station_origin[Gloucester Road]                -3.5280      0.016   -222.015      0.000      -3.559      -3.497
station_origin[Golders Green]                  -3.4227      0.016   -214.708      0.000      -3.454      -3.391
station_origin[Goldhawk Road]                  -4.6033      0.028   -163.986      0.000      -4.658      -4.548
station_origin[Goodge Street]                  -6.0734      0.053   -115.282      0.000      -6.177      -5.970
station_origin[Goodmayes]                      -1.3346      0.019    -69.039      0.000      -1.372      -1.297
station_origin[Gospel Oak]                     -3.5272      0.031   -113.590      0.000      -3.588      -3.466
station_origin[Grange Hill]                    -5.1737      0.040   -130.223      0.000      -5.252      -5.096
station_origin[Great Portland Street]          -4.9094      0.030   -161.536      0.000      -4.969      -4.850
station_origin[Green Park]                     -4.3803      0.023   -190.910      0.000      -4.425      -4.335
station_origin[Greenford]                      -3.9622      0.020   -194.447      0.000      -4.002      -3.922
station_origin[Greenwich]                      -3.0106      0.028   -108.099      0.000      -3.065      -2.956
station_origin[Gunnersbury]                    -4.2489      0.022   -193.137      0.000      -4.292      -4.206
station_origin[Hackney Central]                -2.2367      0.018   -122.226      0.000      -2.273      -2.201
station_origin[Hackney Downs]                  -2.6365      0.035    -75.275      0.000      -2.705      -2.568
station_origin[Hackney Wick]                   -3.2434      0.027   -120.887      0.000      -3.296      -3.191
station_origin[Haggerston]                     -2.6264      0.023   -114.168      0.000      -2.672      -2.581
station_origin[Hainault]                       -3.8172      0.019   -199.058      0.000      -3.855      -3.780
station_origin[Hammersmith]                    -2.6452      0.011   -235.533      0.000      -2.667      -2.623
station_origin[Hampstead]                      -4.3242      0.024   -181.482      0.000      -4.371      -4.277
station_origin[Hampstead Heath]                -3.6983      0.034   -109.762      0.000      -3.764      -3.632
station_origin[Hanger Lane]                    -4.2249      0.023   -180.565      0.000      -4.271      -4.179
station_origin[Harlesden]                      -4.5912      0.027   -172.068      0.000      -4.644      -4.539
station_origin[Harold Wood]                    -1.3464      0.020    -68.266      0.000      -1.385      -1.308
station_origin[Harringay Green Lanes]          -3.5319      0.045    -78.714      0.000      -3.620      -3.444
station_origin[Harrow & Wealdstone]            -4.4187      0.025   -177.346      0.000      -4.468      -4.370
station_origin[Harrow-on-the-Hill]             -3.1587      0.014   -221.265      0.000      -3.187      -3.131
station_origin[Hatch End]                      -3.0404      0.035    -86.889      0.000      -3.109      -2.972
station_origin[Hatton Cross]                   -4.6431      0.028   -165.835      0.000      -4.698      -4.588
station_origin[Headstone Lane]                 -3.6596      0.047    -78.437      0.000      -3.751      -3.568
station_origin[Heathrow Terminal 4]            -5.1771      0.036   -144.698      0.000      -5.247      -5.107
station_origin[Heathrow Terminal 5]            -5.0310      0.033   -150.804      0.000      -5.096      -4.966
station_origin[Heathrow Terminals 2 & 3]       -4.2282      0.022   -188.870      0.000      -4.272      -4.184
station_origin[Hendon Central]                 -3.5845      0.017   -209.742      0.000      -3.618      -3.551
station_origin[Heron Quays]                    -2.7695      0.025   -112.523      0.000      -2.818      -2.721
station_origin[High Barnet]                    -3.7857      0.019   -201.710      0.000      -3.822      -3.749
station_origin[High Street Kensington]         -4.3214      0.023   -192.011      0.000      -4.365      -4.277
station_origin[Highams Park]                   -2.2655      0.020   -115.475      0.000      -2.304      -2.227

In [9]:
#create some Oi and Dj columns in the dataframe and store row and column totals in them:
#to create O_i, take cdatasub ...then... group by origcodenew ...then... summarise by calculating the sum of Total
O_i = pd.DataFrame(cdatasub.groupby(["station_origin"])["flows"].agg(np.sum))
O_i.rename(columns={"flows":"O_i"}, inplace = True)
cdatasub = cdatasub.merge(O_i, on = "station_origin", how = "left" )

D_j = pd.DataFrame(cdatasub.groupby(["station_destination"])["flows"].agg(np.sum))
D_j.rename(columns={"flows":"D_j"}, inplace = True)
cdatasub = cdatasub.merge(D_j, on = "station_destination", how = "left" )

In [10]:
#We can do this by pulling out the parameter values
coefs = pd.DataFrame(prodSim.params)
coefs.reset_index(inplace=True)
coefs.rename(columns = {0:"alpha_i", "index":"coef"}, inplace = True)
to_repl = ["(station_origin)", "\[", "\]"]
for x in to_repl:
    coefs["coef"] = coefs["coef"].str.replace(x, "")
#then once you have done this you can join them back into the dataframes
cdatasub = cdatasub.merge(coefs, left_on="station_origin", right_on="coef", how = "left")
cdatasub.drop(columns = ["coef"], inplace = True)
#check this has worked
cdatasub.head()

/tmp/ipykernel_450/3738776740.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  coefs["coef"] = coefs["coef"].str.replace(x, "")

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i
0,Abbey Road,Bank and Monument,1.000000e-07,599.0,78549.0,8131.525097,6.395262,11.271478,9.003504,599.0,78549.000001,-3.823705
1,Abbey Road,Beckton,1.000000e+00,599.0,442.0,8510.121774,6.395262,6.091310,9.049012,599.0,442.000001,-3.823705
2,Abbey Road,Blackwall,3.000000e+00,599.0,665.0,3775.448872,6.395262,6.499787,8.236275,599.0,665.000001,-3.823705
3,Abbey Road,Canary Wharf,1.000000e+00,599.0,58772.0,5086.514220,6.395262,10.981421,8.534348,599.0,58772.000001,-3.823705
4,Abbey Road,Canning Town,3.700000e+01,599.0,15428.0,2228.923167,6.395262,9.643939,7.709274,599.0,15428.000004,-3.823705

In [11]:
alpha_i = prodSim.params[0:399]
gamma = prodSim.params[399]
beta = -prodSim.params[400]

In [12]:
beta

0.058657419649845735

In [13]:
gamma

0.8273854119977159

In [14]:
alpha_i.head(10)

station_origin[Abbey Road]      -3.823705
station_origin[Acton Central]   -3.121902
station_origin[Acton Town]      -3.702973
station_origin[Aldgate]         -4.028844
station_origin[Aldgate East]    -3.948172
station_origin[All Saints]      -3.673999
station_origin[Alperton]        -4.378019
station_origin[Amersham]        -4.667449
station_origin[Anerley]         -2.986040
station_origin[Angel]           -3.664923
dtype: float64

In [15]:
cdatasub["prodsimest1"] = np.exp(cdatasub["alpha_i"]+gamma*cdatasub["log_jobs"] 
                                 - beta*cdatasub["log_distance"])
#or you could do it the easy way like we did last week with the fitted column (See previous practical)
cdatasub.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i,prodsimest1
0,Abbey Road,Bank and Monument,1.000000e-07,599.0,78549.0,8131.525097,6.395262,11.271478,9.003504,599.0,78549.000001,-3.823705,144.608400
1,Abbey Road,Beckton,1.000000e+00,599.0,442.0,8510.121774,6.395262,6.091310,9.049012,599.0,442.000001,-3.823705,1.984495
2,Abbey Road,Blackwall,3.000000e+00,599.0,665.0,3775.448872,6.395262,6.499787,8.236275,599.0,665.000001,-3.823705,2.918313
3,Abbey Road,Canary Wharf,1.000000e+00,599.0,58772.0,5086.514220,6.395262,10.981421,8.534348,599.0,58772.000001,-3.823705,116.928176
4,Abbey Road,Canning Town,3.700000e+01,599.0,15428.0,2228.923167,6.395262,9.643939,7.709274,599.0,15428.000004,-3.823705,40.582782
5,Abbey Road,Crossharbour,1.000000e+00,599.0,1208.0,6686.475560,6.395262,7.096721,8.807842,599.0,1208.000000,-3.823705,4.624525
6,Abbey Road,Custom House,1.000000e-07,599.0,845.0,3824.855630,6.395262,6.739337,8.249276,599.0,845.000002,-3.823705,3.555312
7,Abbey Road,Cutty Sark,2.000000e+00,599.0,1748.0,8503.898909,6.395262,7.466228,9.048280,599.0,1748.000000,-3.823705,6.190367
8,Abbey Road,Cyprus,7.000000e+00,599.0,850.0,6532.099618,6.395262,6.745236,8.784484,599.0,850.000001,-3.823705,3.462290
9,Abbey Road,Devons Road,1.000000e+00,599.0,611.0,3958.324171,6.395262,6.415097,8.283576,599.0,611.000001,-3.823705,2.713284

In [16]:
#first round the estimates
cdatasub["prodsimest1"] = round(cdatasub["prodsimest1"],0)
#now we can create a pivot tabel to turn the paired list into a matrix, and compute the margins as well
cdatasubmat3 = cdatasub.pivot_table(values ="prodsimest1", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
cdatasubmat3

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,601.0
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1227.0
Acton Town,NaN,NaN,NaN,23.0,23.0,NaN,4.0,1.0,NaN,24.0,...,19.0,3.0,8.0,7.0,NaN,3.0,NaN,3.0,NaN,3741.0
Aldgate,NaN,NaN,6.0,NaN,20.0,NaN,NaN,1.0,NaN,19.0,...,14.0,NaN,6.0,5.0,NaN,2.0,NaN,2.0,NaN,2888.0
Aldgate East,NaN,NaN,6.0,21.0,NaN,NaN,3.0,1.0,NaN,20.0,...,15.0,2.0,6.0,5.0,NaN,3.0,NaN,3.0,NaN,3176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,11.0,31.0,32.0,NaN,NaN,NaN,NaN,32.0,...,25.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,4870.0
Woodgrange Park,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.0
Woodside Park,NaN,NaN,7.0,20.0,21.0,NaN,3.0,NaN,NaN,21.0,...,17.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,3099.0
Woolwich Arsenal,22.0,NaN,NaN,NaN,NaN,27.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7893.0
All,208.0,456.0,2609.0,7481.0,8015.0,297.0,846.0,325.0,106.0,8391.0,...,6002.0,677.0,2655.0,1723.0,215.0,926.0,109.0,905.0,1517.0,1542446.0

In [28]:
cdatasubmat

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.000000,5.990000e+02
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-07,NaN,NaN,1.224000e+03
Acton Town,NaN,NaN,NaN,3.000000e+00,1.700000e+01,NaN,3.500000e+01,1.000000e-07,NaN,11.000000,...,7.700000e+01,3.000000e+00,6.000000e+00,9.000000,NaN,1.000000e-07,NaN,1.000000e-07,NaN,3.745000e+03
Aldgate,NaN,NaN,1.000000e-07,NaN,1.000000e-07,NaN,NaN,1.000000e-07,NaN,17.000000,...,1.000000e-07,NaN,4.000000e+00,8.000000,NaN,1.000000e-07,NaN,1.000000e-07,NaN,2.886000e+03
Aldgate East,NaN,NaN,2.000000e+00,1.000000e-07,NaN,NaN,1.000000e-07,1.000000e-07,NaN,20.000000,...,2.400000e+01,1.000000e-07,1.000000e-07,12.000000,NaN,1.000000e+00,NaN,1.000000e+00,NaN,3.172000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.000000e+00,5.000000e+00,4.700000e+01,NaN,NaN,NaN,NaN,22.000000,...,2.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,4.868000e+03
Woodgrange Park,NaN,1.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.300000e+02
Woodside Park,NaN,NaN,1.000000e+00,2.600000e+01,1.100000e+01,NaN,1.000000e-07,NaN,NaN,59.000000,...,1.000000e-07,NaN,1.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN,3.093000e+03
Woolwich Arsenal,20.000000,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.892000e+03
All,345.000002,7.500000e+02,2.202000e+03,7.782000e+03,7.932000e+03,444.000001,7.410000e+02,2.560000e+02,173.000001,8103.000001,...,6.295000e+03,5.960000e+02,2.146000e+03,1578.000005,404.000002,7.060000e+02,2.420000e+02,7.450000e+02,4428.000001,1.542391e+06

In [34]:
eval('1.542391e+06')

1542391.0

In [18]:
#åŠ å…¥æ¡ä»¶ï¼Œå˜Jobs

cdatasub["jobsnew"] = cdatasub.loc[cdatasub["station_origin"] == "Canary Wharf", "jobs"] *0.5

In [19]:
cdatasub[cdatasub["station_origin"] == "Canary Wharf"].head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i,prodsimest1,jobsnew
8805,Canary Wharf,Abbey Road,2.000000e+00,14632.0,345.0,5086.514220,9.590966,5.843544,8.534348,14632.000006,345.000002,-2.547943,6.0,172.5
8806,Canary Wharf,Acton Town,7.000000e+00,14632.0,2202.0,20398.165882,9.590966,7.697121,9.923200,14632.000006,2202.000004,-2.547943,25.0,1101.0
8807,Canary Wharf,Aldgate,1.000000e-07,14632.0,7782.0,6564.419680,9.590966,8.959569,8.789419,14632.000006,7782.000002,-2.547943,77.0,3891.0
8808,Canary Wharf,Aldgate East,3.000000e+00,14632.0,7932.0,5127.998899,9.590966,8.978660,8.542471,14632.000006,7932.000002,-2.547943,80.0,3966.0
8809,Canary Wharf,All Saints,2.700000e+01,14632.0,444.0,1340.088733,9.590966,6.095825,7.200491,14632.000006,444.000001,-2.547943,8.0,222.0
8810,Canary Wharf,Alperton,1.000000e+00,14632.0,741.0,25371.253826,9.590966,6.608001,10.141372,14632.000006,741.000008,-2.547943,10.0,370.5
8811,Canary Wharf,Amersham,1.000000e-07,14632.0,256.0,49907.635676,9.590966,5.545177,10.817929,14632.000006,256.000012,-2.547943,4.0,128.0
8812,Canary Wharf,Angel,2.400000e+01,14632.0,8103.0,8538.426368,9.590966,8.999990,9.052332,14632.000006,8103.000001,-2.547943,79.0,4051.5
8813,Canary Wharf,Archway,5.000000e+00,14632.0,2193.0,14463.519883,9.590966,7.693026,9.579385,14632.000006,2193.000006,-2.547943,26.0,1096.5
8814,Canary Wharf,Arnos Grove,1.000000e+00,14632.0,748.0,19708.927000,9.590966,6.617403,9.888827,14632.000006,748.000011,-2.547943,10.0,374.0

In [20]:
cdatasub["prodsimest2"] = np.exp(cdatasub["alpha_i"]+gamma*np.log(cdatasub["jobsnew"]) - beta*cdatasub["log_distance"])

cdatasub["prodsimest2"] = round(cdatasub["prodsimest2"],0)
#now we can convert the pivot table into a matrix
cdatasubmat4 = cdatasub.pivot_table(values ="prodsimest2", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
cdatasubmat4

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Acton Town,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN
Aldgate East,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woodside Park,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woolwich Arsenal,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
All,3.0,NaN,14.0,44.0,45.0,4.0,6.0,2.0,NaN,44.0,...,34.0,5.0,14.0,11.0,NaN,6.0,NaN,6.0,27.0,8245.0

In [21]:

#calculate some new wj^alpha and d_ij^beta values
Dj2_gamma = cdatasub["jobs"]**gamma
dist_beta = cdatasub["distance"]**beta
#calcualte the first stage of the Ai values
cdatasub["Ai1"] = Dj2_gamma * dist_beta
#now do the sum over all js bit
A_i = pd.DataFrame(cdatasub.groupby(["station_origin"])["Ai1"].agg(np.sum))
#now divide into 1
A_i["Ai1"] = 1/A_i["Ai1"]
A_i.rename(columns={"Ai1":"A_i"}, inplace=True)
#and write the A_i values back into the dataframe
cdatasub = cdatasub.merge(A_i, left_on="station_origin", right_index=True, how="left")

In [22]:
#to check everything works, recreate the original estimates
cdatasub["prodsimest3"] = cdatasub["A_i"]*cdatasub["O_i"]*Dj2_gamma*dist_beta
#round
cdatasub["prodsimest3"] = round(cdatasub["prodsimest3"])
#check
cdatasub[["prodsimest1", "prodsimest3"]]

       prodsimest1  prodsimest3
0            145.0        158.0
1              2.0          2.0
2              3.0          3.0
3            117.0        121.0
4             41.0         38.0
...            ...          ...
61469        139.0        143.0
61470        216.0        211.0
61471         25.0         24.0
61472         49.0         46.0
61473         63.0         62.0

[61474 rows x 2 columns]

In [23]:
#calculate some new wj^alpha and d_ij^beta values
Dj3_gamma = cdatasub["jobsnew"]**gamma
#calcualte the first stage of the Ai values
cdatasub["Ai1"] = Dj3_gamma * dist_beta
#now do the sum over all js bit
A_i = pd.DataFrame(cdatasub.groupby(["station_origin"])["Ai1"].agg(np.sum))
#now divide into 1
A_i["Ai1"] = 1/A_i["Ai1"]
A_i.rename(columns={"Ai1":"A_i2"}, inplace=True)
#and write the A_i values back into the dataframe
cdatasub = cdatasub.merge(A_i, left_on="station_origin", right_index=True, how="left")

In [24]:
#to check everything works, recreate the original estimates
cdatasub["prodsimest4"] = cdatasub["A_i2"]*cdatasub["O_i"]*Dj3_gamma*dist_beta
#round
cdatasub["prodsimest4"] = round(cdatasub["prodsimest4"])

In [37]:
cdatasubmat5 = cdatasub.pivot_table(values ="prodsimest4", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
cdatasubmat5

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Acton Town,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN
Aldgate East,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woodside Park,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woolwich Arsenal,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
All,6.0,NaN,32.0,84.0,84.0,7.0,13.0,6.0,NaN,88.0,...,76.0,11.0,31.0,24.0,NaN,12.0,NaN,13.0,54.0,14635.0

In [47]:
cdatasubmat5["Canary Wharf"]

station_origin
Abbey Road            0.0
Acton Central         NaN
Acton Town            0.0
Aldgate               0.0
Aldgate East          0.0
                    ...
Woodford              0.0
Woodgrange Park       NaN
Woodside Park         0.0
Woolwich Arsenal      0.0
All                 104.0
Name: Canary Wharf, Length: 400, dtype: float64

In [50]:
cdatasubmat["Canary Wharf"]

station_origin
Abbey Road              1.000000
Acton Central                NaN
Acton Town             57.000000
Aldgate                 1.000000
Aldgate East            3.000000
                        ...
Woodford              192.000000
Woodgrange Park              NaN
Woodside Park          42.000000
Woolwich Arsenal       82.000000
All                 58772.000001
Name: Canary Wharf, Length: 400, dtype: float64