In [ ]:
#4.2

In [1]:
#import the necessary libraries 
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import folium
import statsmodels.api as sm
import scipy.stats
import numpy as np
from math import sqrt
import statsmodels.formula.api as smf
import osmnx as ox

In [2]:
cdatasub = pd.read_csv("london_flows.csv")

In [3]:
cdatasub.head(10)

  station_origin station_destination  flows  population   jobs     distance
0     Abbey Road   Bank and Monument      0         599  78549  8131.525097
1     Abbey Road             Beckton      1         599    442  8510.121774
2     Abbey Road           Blackwall      3         599    665  3775.448872
3     Abbey Road        Canary Wharf      1         599  58772  5086.514220
4     Abbey Road        Canning Town     37         599  15428  2228.923167
5     Abbey Road        Crossharbour      1         599   1208  6686.475560
6     Abbey Road        Custom House      0         599    845  3824.855630
7     Abbey Road          Cutty Sark      2         599   1748  8503.898909
8     Abbey Road              Cyprus      7         599    850  6532.099618
9     Abbey Road         Devons Road      1         599    611  3958.324171

In [ ]:
# Run a doubly constrained SIM with a negative exponential cost function.
doubsim_form = "flows ~ station_origin + station_destination + distances "
doubsim1 = smf.glm(formula=doubsim_form, data = cdatasub, family = sm.families.Poisson()).fit()
print(doubsim1.summary())

In [ ]:
# sorry my computer can not run this model.

In [ ]:
#Then allpy the "β" with different values, for example, β=0.3，β=3then check the flows